
<div>
    <div>
        <img mat-card-image [src]="catPicBase64String" class="catgImage" style="height:25%" />
    </div>
    <hr/>
    <div style="text-align: center">
        <div style="text-align: center">
           <span class="catgTitle">{{item.name}}</span>
           <br>
           <span class="catgSubTitle">{{item.description}}</span>
        </div>
    </div>
    <hr/>
    <div style="text-align: center">           
            <button class="buttonAsLink" (click)="OnListPosts()">List Posts
            </button>
    </div>
</div>
   



    

