<div class="row">
  <div class="col-lg-12">
    <div class="headingShade">
      <div class="row">
        <div class="col-lg-10">
            <div class="postTitle paddingContent">
                <span>Blog Category List</span>
            </div>
            
        </div>
        <div class="col-lg-2">
            <div class="paddingRight">
            <button class="buttonAsLink whiteText"><span class="material-symbols-outlined">
              house
              </span></button>
        </div>
        </div>
    </div>
    </div>
  </div>
</div>

<div class="basic-container padding-main">
<mat-grid-list cols="2" rowHeight="350px" gutterSize="25px">
    @for(citem of blogCatItems;track citem.BlogCatgId)
    {
      <div>
        <mat-grid-tile>
          <app-app-bloglist-item  [item]="citem" (getPostsEvent)="GetPostList(citem)"></app-app-bloglist-item>
      </mat-grid-tile>
      </div>
    }
  </mat-grid-list>
</div>