/* You can add global styles to this file, and also import other style files */
.flex-container-header
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
    height: 80px;    
}

.flex-container
{
    display: flex;
    flex-direction: row;
    justify-content:flex-start; 
    align-items:flex-start;  
    vertical-align: middle; 
    background-color: blue;
    height:100px;
}
.HeaderText
{
    color:white;    
    font-size:xx-large;
    font-weight: 600;
    text-align: center;
    vertical-align:middle;
    line-height:80px;  
    width:75%;
    text-shadow: 4px 4px black;
    letter-spacing: 3px;
}
.footerText
{
    color:white;    
    font-size:xx-small;    
    text-align: center;
    vertical-align:middle;
    line-height:20px;  
    width:100% ;
    background-color: rgb(14, 30, 190); 
    margin-left: 0px; 
}
.main-menu
{
    margin-top:10px;
    margin-bottom:10px;
    margin-left: 0px;
    background-color: rgb(14, 30, 190);
    width:100%;
    display: flex;
    flex-direction: row-reverse;  
      
}
.navbar-text
{
    color:white;
}
a{
    color:white;
    margin: 5px;
    text-decoration:none;
}
a:hover{
    color:yellow;
}
a:visited{
    color:white;
    
}
.content-text
{
    font-family: Garamond;;
    font-size: x-large;
    text-indent: 70px;

}
h3.SideHeading{
    color:blue;
    font-family:'Times New Roman', Times, serif
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
